<div id="left_menu">
  <div id="header_menu">
    <%= image_tag("logo_menu.jpg", :id => "show_long_menu") %>
  </div>
  <div id="navigation_menu">
  <%= link_to image_tag("Home_real#{'_active' if @welcome}.jpg", :width => "80", :height => "79", :alt => "real_home_icon"), :action => "welcome", :controller => "/general_information"  %><%= image_tag("Home_10.jpg", :width => "80", :height => "79", :alt => "home_icon") %><%= image_tag("Home_13.jpg", :width => "80", :height => "84", :alt => "calendar_icon") %><%= image_tag("Home_14.jpg", :width => "80", :height => "81", :alt => "world_icon") %><%= image_tag("Home_15.jpg", :width => "80", :height => "82", :alt => "gift_icon")%><%= link_to image_tag("Home_16#{'_active' if @contact}.jpg", :width => "80", :height => "72", :alt => "bubble_icon"), contact_index_path %><%= image_tag("Home_17.jpg", :width => "40", :height => "41", :alt => "facebook_icon")%><%= image_tag("Home_18.jpg", :width => "40", :height => "41", :alt => "twitter_icon")%>
  </div>
</div>